<div class="example-button-row">
  <div class="example-flex-container">
    <div>
      <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="decrementar()">
        <mat-icon>exposure_neg_1</mat-icon>
      </button>
    </div>

    <div>
      <h2> {{incremento}} </h2> 
    </div>

    <div>
      <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="incrementar()">
        <mat-icon>plus_one</mat-icon>
      </button>
    </div>
  </div>